<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Interns</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <style type="text/css">
        body {
            font-family: 'Roboto', sans-serif;
        }

        li {
            margin: 2px 0;
            padding: 5px;
            background-color: white;

        }

        ul {
            list-style-type: none;
            padding: 25px 10px;
            margin: 0;

        }

        .main {
            width: 75%;
            margin: 0 auto;
            padding: 70px 0;
        }
    </style>

</head>

<body>
    <div class="container-fluid-nav text-center bg-danger p-4">
        <h1 class="text-white"> My Team </h1>
    </div>
    <div class="main">
        <div class="row d-flex justify-content-center row-js">
            <!-- Card -->
            <div class="col-md-4 col-sm-12 mb-3">
                <div class="card bg-light">
                    <div class="bg-primary p-2 text-white">
                        <h4>First Name</h4>
                        <h4><i class="fas fa-user-graduate"></i>&nbsp;Role</h4>
                    </div>
                    <ul>
                        <li>ID: xx/li>
                        <li>Email: xxxx</li>
                        <li>Office number: x</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</body>

</html>